<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ error.code }} ???</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='fav.png') }}"
    />
    <style>
      body {
        position: absolute;
        left: 50%;
        top: 50%;
        min-height: 100px;
        transform: translate(-50%, -50%);
      }
      .stuffs {
        background-color: var(--primary);
        border: 1px solid var(--secondary);
        box-shadow: 0px 0px 5px var(--secondary);
        width: 600px;
        height: 200px;
        padding: 20px;
        border-radius: 5px;
        margin: 15px;
      }

      h3 {
        color: #6e6e6e;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div class="stuffs">
      <h3>>>> Dead end...</h3>
      <h1>{{ error.code }} - {{ error.name }}</h1>
      <p>{{ error.description }}</p>
      <a href="/">Off you go...</a>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
</html>
