<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./static/fav.png">
    <title>{{ user.username }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar at-top">
        <p id="username">Avatar history for <b>{{ user.username }}</b></p>
    </div>
    <div class="empty-space" style="padding: 30px; left: 50%; text-align: center; color: var(--text-color)">
        <p><br>Click on any image to download it!</p>
    </div>
    <div class="content">
        <div class="avatars">
            {% for user_id, avatar, date, path, full_datetime in users_avatars %}
                <div class="{% if loop.first %}current-{% endif %}avatar" data-datetime="{{ full_datetime }}">
                    <a href="{{ url_for('static', filename=path) }}" download="{{ path.split('/')[-1] }}">
                        <img src="{{ url_for('static', filename=path) }}" alt="Avatar">
                    </a>
                    <div class="date">
                        {% if loop.first %}
                            Current
                        {% else %}
                            {{ date }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="the-bottom">
        <hr class="dashed">
        <footer class="footer">
            <h4>
                Helloo!! freezer here,
                <br />if you have any issues, you can join my server and text me! (or send an email, i never look tho)
            </h4>
            <div style="width: 70%; height: 2px; background-color: var(--navbar-border);"></div>
            <p style="white-space: pre">  Contact : <a href="mailto:ymvb@protonmail.com">ymvb@protonmail.com</a></p>
            <p style="white-space: pre">  Source  : <a href="https://github.com/dazziedez/discordpy-avatar-logger">GitHub</a></p>
            <p style="white-space: pre">  Discord : <a href="https://discord.gg/catposting">Join mah server</a></p>
            <br>
            <p style="color: #ffffff2a;">Copyright &copy; dazziedez. All rights reserved.</p>
        </footer>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let avatarsContainer = document.querySelector('.avatars');
        let avatars = Array.from(avatarsContainer.children);
        avatars.sort((a, b) => b.getAttribute('data-datetime').localeCompare(a.getAttribute('data-datetime')));
        avatars.forEach(avatar => avatarsContainer.appendChild(avatar));
    });
    window.addEventListener('scroll', function() {
      const navbar = document.querySelector('.navbar');
      if(window.pageYOffset === 0) {
        navbar.classList.add('at-top');
      } else {
        navbar.classList.remove('at-top');
      }
    });
</script>
</html>