<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Avatars</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='fav.png') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body>
    <div class="btn-bar at-top">
      <img class="icon" src="static/fav.png" width="35px" height="35px" style="margin-left: 10px;"><p1 style="margin-inline: 10px;"><b><a>Avatar logger</a></b></p1>
      <button class="sort-button" onclick="sortUsers('data-name')">
        Sort by Name
      </button>
      <button class="sort-button" onclick="sortUsers('avatar_count_asc')">
        Avatar count ⬆️
      </button>
      <button class="sort-button" onclick="sortUsers('avatar_count_desc')">
        Avatar count ⬇️
      </button>
    </div>
    <button class="sort-button material-symbols-rounded"
            onclick="toggleTheme()"
            style="position: absolute;"
            id="theme-toggle">
        light_mode
    </button>
    <div style="padding-top: 55px"></div>
    <div class="content">
      <ul id="userList" class="avatars">
        {% for user in users_list %}
        <li
          class="avatar"
          data-name="{{ user.name }}"
          data-avatar-count="{{ user.avatar_count }}"
        >
          <a href="/{{ user.id }}"><img src="{{ user.avatar_url }}" alt="Avatar"></a>
          <div class="user-name">
            <a href="/{{ user.id }}">{{ user.name }}</a>
          </div>
          <div class="date">Avatars: {{ user.avatar_count }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="the-bottom">
      <hr class="dashed">
      <footer class="footer">
          <h4>
              Helloo!! freezer here,
              <br />if you have any issues, you can join my server and text me! (or send an email, i never look tho)
          </h4>
          <div style="width: 70%; height: 2px; background-color: var(--navbar-border);"></div>
          <p style="white-space: pre">  Contact : <a href="mailto:ymvb@protonmail.com">ymvb@protonmail.com</a></p>
          <p style="white-space: pre">  Source  : <a href="https://github.com/dazziedez/discordpy-avatar-logger">GitHub</a></p>
          <p style="white-space: pre">  Discord : <a href="https://discord.gg/catposting">Join mah server</a></p>
          <br>
          <p style="color: var(--text-color); opacity: 70%;">Copyright &copy; dazziedez. All rights reserved.</p>
      </footer>
  </div>

    <script>
      function sortUsers(criteria) {
        let users = [...document.getElementById("userList").children];
        users.sort(function (a, b) {
          if (criteria === "data-name") {
            return a
              .getAttribute("data-name")
              .localeCompare(b.getAttribute("data-name"));
          } else if (criteria === "avatar_count_asc") {
            return (
              parseInt(a.getAttribute("data-avatar-count")) -
              parseInt(b.getAttribute("data-avatar-count"))
            );
          } else if (criteria === "avatar_count_desc") {
            return (
              parseInt(b.getAttribute("data-avatar-count")) -
              parseInt(a.getAttribute("data-avatar-count"))
            );
          }
        });
        const list = document.getElementById("userList");
        list.innerHTML = "";
        users.forEach((user) => list.appendChild(user));
      }

    window.addEventListener('scroll', function() {
      const navbar = document.querySelector('.btn-bar');
      if(window.pageYOffset === 0) {
        navbar.classList.add('at-top');
      } else {
        navbar.classList.remove('at-top');
      }
    });

    // Theme stuff (it was fun)

    function applyTheme(theme) {
      document.documentElement.classList.toggle('light-theme', theme === 'light');
    }

    function getSystemTheme() {
      return window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'dark';
    }

    function setButtonIcon(theme) {
      const button = document.getElementById('theme-toggle');
      button.innerHTML = theme === 'light' ? 'light_mode' : theme === 'dark' ? 'dark_mode' : 'sync';
    }

    function toggleTheme() {
      let currentTheme = localStorage.getItem('theme');
      let newTheme;
      if (currentTheme === 'light') {
        newTheme = 'dark';
      } else if (currentTheme === 'dark') {
        newTheme = null; // System default
      } else {
        newTheme = 'light';
      }

      if (newTheme) {
        localStorage.setItem('theme', newTheme);
      } else {
        localStorage.removeItem('theme');
      }

      applyTheme(newTheme || getSystemTheme());
      setButtonIcon(newTheme);
    }

    (function() {
      let savedTheme = localStorage.getItem('theme');
      let themeToApply = savedTheme || getSystemTheme();
      applyTheme(savedTheme ? savedTheme : getSystemTheme());
      setButtonIcon(savedTheme);
    })();
  </script>
  </body>
</html>
