@import url("https://fonts.cdnfonts.com/css/cascadia-mono");

:root {
  /* Default (Dark Theme) */

  --primary-bold: #fff;
  --primary: #292929;
  --secondary: #363636;
  --text-color: #b8b8b8;
  --avatar-border: #363636;
  --navbar-border: #474747;
  --navbar-bg: #363636;
  --box-shadow: #00000040;
  --box-shadow-hover: #00000060;
  --background-gradient-one: #292929f8;
  --background-gradient-two: #292929;
}

:root.light-theme {
  /* Light Theme Overrides */
  --primary-bold: #000;
  --primary: #faf6f0;
  --secondary: #d8d4cd;
  --text-color: #413e39;
  --avatar-border: #d8d4cd;
  --navbar-border: #a7a7a7;
  --navbar-bg: #d8d4cd;
  --box-shadow: #00000010;
  --box-shadow-hover: #00000020;
  --background-gradient-one: #faf6f0d0;
  --background-gradient-two: #faf6f0;
}

body {
  font-family: "Cascadia Mono", sans-serif;
  background-color: var(--primary);
  margin: 0;
  padding: 20px;
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

button:active {
  transform: scale(0.95);
}

.content {
  flex: 1;
  transition: background-color 0.2s ease, color 0.2s ease,
    border 0.2s ease;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 10px var(--text-color);
}

.light-theme a {
  text-shadow: 0 0 0px transparent;
}

hr.dashed {
  border: 3px dashed var(--secondary);
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.avatar {
  list-style-type: none;
  background-color: var(--primary);
  border: 1px solid var(--avatar-border);
  padding: 10px;
  border-radius: 5%;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease,
    color 0.2s ease,
    border 0.2s ease;
  box-shadow: 0px 0px 5px var(--box-shadow);
  word-wrap: break-word;
  overflow: visible;
  width: 150px;
}

.avatar:hover {
  transform: translate(0px, 5px);
  box-shadow: 0px 5px 15px var(--box-shadow-hover);
}

.avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
  transition: transform 0.2s ease, border-radius 0.2s ease;
  cursor: pointer;
}

.avatar:hover img {
  transform: scale(1.2) translateY(-15px);
  border-radius: 5%;
}

.date {
  margin-top: 10px;
  font-size: 0.8rem;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  min-width: 300px;
  padding-inline: 15px;
  height: 40px;
  box-shadow: 0 0 15px var(--box-shadow-hover);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  color: var(--text-color);
  z-index: 1000;
  border-radius: 50px;
  box-sizing: border-box;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.navbar.at-top {
  box-shadow: 0 0 15px transparent;
  border: 2px solid transparent;
}

.date {
  font-size: 0.8rem;
  color: #666;
}

.btn-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--box-shadow-hover);
  text-align: center;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.btn-bar.at-top {
  box-shadow: 0 0 15px transparent;
  border: 1px solid transparent;
}

.current-avatar {
  background-color: var(--primary);
  border: 2px solid var(--text-color);
  width: 150px;
  height: 177px;
  padding: 10px;
  border-radius: 5%;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 0px 15px #b8b8b845;
  overflow: visible;
}

.current-avatar:hover {
  transform: translate(0px, 5px);
  box-shadow: 0px 5px 15px #b8b8b870;
}

.current-avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
  transition: transform 0.2s ease, border-radius 0.2s ease;
  cursor: pointer;
}

.current-avatar .date {
  color: var(--text-color);
}

.current-avatar:hover img {
  transform: scale(1.2) translateY(-15px);
  border-radius: 5%;
}

.footer {
  margin-left: 150px;
}

.the-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--box-shadow);
}

.sort-button {
  font-family: "Cascadia Mono", sans-serif;
  background-color: var(--primary);
  border: 1px solid transparent;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-color);
  box-shadow: 0px 0px 5px transparent;
  transition: background-color 0.2s ease, color 0.2s ease, border-radius 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}

.sort-button:hover {
  background-color: var(--text-color);
  color: var(--primary);
  border-radius: 5px;
}

.sort-button.selected {
  border: 1px solid var(--text-color);
  box-shadow: 0px 0px 5px var(--secondary);
}

#cookie-notice {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--primary);
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1000;
  border: 1px solid var(--navbar-border);
  transition: background-color 0.2s ease, color 0.2s ease, border-radius 0.2s ease;
}

#cookie-notice a {
  text-decoration: underline;
}

#accept-cookies {
  background-color: var(--primary);
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease, border-radius 0.2s ease;
}

#accept-cookies:hover {
  background-color: var(--text-color);
  color: var(--primary);
  border-radius: 5px;
}

.notice-hidden {
  animation: fade 0.1s forwards ease;
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 200px;
  margin-block: 30px;
}

.container {
  align-content: center;
  text-align: center;
  border-radius: 35px;
  width: 100%;
  padding: 50px;
  margin: 15px;
}